@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.site-wrapper.light-theme {
  background-color: #fafafa;
  color: #111517;
}

.site-wrapper.dark-theme {
  background-color: #202c37;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 1em;
  width: 100%;
  height: 80px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
header nav a {
  text-decoration: none;
  font-weight: 800;
}
header nav button {
  background: none;
  border: none;
  font-weight: 600;
}
header nav a,
header nav button {
  cursor: pointer;
  transition: transform 0.2s;
}
header nav a:hover, header nav a:focus-visible,
header nav button:hover,
header nav button:focus-visible {
  transform: scale(1.1);
}

header.light-theme {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgb(182, 182, 182);
}
header.light-theme nav a,
header.light-theme nav button {
  color: #111517;
}

header.dark-theme {
  background-color: #2b3945;
}
header.dark-theme nav a,
header.dark-theme nav button {
  color: #ffffff;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.inputs {
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.inputs select {
  padding-left: 2em;
  width: 200px;
  height: 48px;
  border: none;
  border-radius: 5px;
}

form {
  width: 100%;
  max-width: 480px;
}

form input {
  margin: 0;
  padding: 0.5rem 0.75rem;
  padding-left: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: inherit;
  background-repeat: no-repeat;
  background-position: 0.625rem 0.7rem;
  background-size: 1rem;
}

form input.light-theme {
  color: #111517;
  box-shadow: 0 0px 4px #e8e8e8;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='hsl(200, 15%, 8%)' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
}
form input.light-theme::-moz-placeholder {
  color: #111517;
  opacity: 1;
}
form input.light-theme::placeholder {
  color: #111517;
  opacity: 1;
}

form input.dark-theme {
  color: #ffffff;
  background-color: #2b3945;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
}
form input.dark-theme::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
form input.dark-theme::placeholder {
  color: #ffffff;
  opacity: 1;
}

.menu {
  width: 200px;
  height: 56px;
}
.menu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-weight: 300;
  cursor: pointer;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
}
.menu li {
  display: block;
  width: 100%;
  padding: 0.1em;
  border-radius: 5px;
  cursor: pointer;
}
.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  margin-top: 0.25em;
  padding-left: 0.5em;
  font-weight: 300;
}

.menu.light-theme ul {
  background-color: #ffffff;
}
.menu.light-theme li {
  color: #111517;
}
.menu.light-theme li:hover, .menu.light-theme li:focus-visible {
  background-color: #f4f3f3;
}
.menu.light-theme button {
  background-color: #ffffff;
  color: #111517;
  box-shadow: 0 0px 4px #e8e8e8;
}
.menu.light-theme button path {
  fill: #111517;
}

.menu.dark-theme ul {
  background-color: #2b3945;
}
.menu.dark-theme li {
  color: #ffffff;
}
.menu.dark-theme li:hover, .menu.dark-theme li:focus-visible {
  background-color: #6d8dab;
}
.menu.dark-theme button {
  background-color: #2b3945;
  color: #ffffff;
}
.menu.dark-theme button path {
  fill: #ffffff;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
  margin: 0 4em;
}
.cards-container a {
  text-decoration: none;
}

.country-card {
  width: 264px;
  height: 336px;
  border-radius: 5px;
}
.country-card img {
  width: 264px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.country-card h1 {
  margin-top: 0em;
  font-size: 18px;
}
.country-card P {
  margin: 0.5em 0;
  font-size: 14px;
  font-weight: 300;
}
.country-card P span {
  font-weight: 600;
}

.country-card.light-theme {
  color: #111517;
  box-shadow: 0 1px 4px rgb(182, 182, 182);
}

.country-card.dark-theme {
  color: #ffffff;
  background-color: #2b3945;
}

.country-card-text {
  padding: 1em 1.5em;
}

@media screen and (min-width: 1000px) {
  .inputs {
    padding: 3em 4em 0;
  }
}/*# sourceMappingURL=index.css.map */